html {
    /* 
        Reference: https://css-tricks.com/box-sizing/

        content-box: total width/height = width/height + padding + border
        border-box : total width/height = width/height
        - padding and border don't affect width or height in border-box model
        - no support for IE7 or less
        - IE 8 and older don't recognise border-box if min/max-width or min/max-height used on an element
    */
    -webkit-box-sizing: border-box;
    /* Safari (< 5.1), Chrome (< 10) */
    -moz-box-sizing: border-box;
    /* Firefox (< 29) */
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    /* Inherit to make it easier to change to content-box model if required at any point */
    -webkit-box-sizing: inherit;
    /* Safari (< 5.1), Chrome (< 10) */
    -moz-box-sizing: inherit;
    /* Firefox (< 29) */
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigation */
.navbar {
    overflow: hidden;
    background-color: gray;
}

.navbar a {
    float: left;
    padding: 12px 16px;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.navbar a:hover,
.navbar button:hover {
    background-color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
    height: 100%;
}

.dropdown .dropdown-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 0;
    font-size: 1.6rem;
    font-family: inherit;
    color: whitesmoke;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    /* Use top, right, bottom, left to specify offsets */
    position: absolute;
    z-index: 1;
    background-color: gray;
}

.dropdown-content a {
    display: block;
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    color: whitesmoke;
}

.show {
    display: block;
}

/* Hero content */
.hero {
    height: 60vh;
}

.hero>.block-image {
    /* Centre block image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

.block-hero-content {
    /* Centre block text */
    text-align: center;
}

/* General styling */
p,
li,
a,
pre,
th,
td,
blockquote,
figcaption,
button,
dd,
dt {
    font-size: 1.6rem;
    color: black;
    line-height: 1.5;
}

dt {
    text-decoration: dotted underline;
    text-underline-offset: 4px;
}

dt::after {
    content: ":";
}

a {
    text-decoration: underline rgba(0, 0, 0, 0.514);
    text-underline-offset: 4px;
    color: rgba(68, 68, 240, 0.87);
}

a:hover:not(.navbar a) {
    font-weight: bolder;
}

a:visited:not(.navbar a) {
    color: rgba(213, 45, 255, 0.479);
}

dt {
    font-weight: bold;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.8rem;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption {
    border-bottom: 1px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

table {
    width: 100%;    
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Code block styling */
code {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(236, 70, 70);
    font-size: inherit;
}

pre>code {
    color: inherit;
}

.block-code {
    padding: 8px;
    background-color: lightslategray;
}

.block-code>code {
    display: block;
    padding: 8px;
    overflow-x: auto;
    width: 100%;
    background-color: white;
}

.example {
    padding: 8px;
    background-color: lightslategray;
}

.example>.example-content {
    overflow-x: auto;
    padding: 8px;
    width: 100%;
    background-color: white;
}

/* Mobile responsiveness upto tablet size */
@media screen and (max-width: 768px) {

    /* Navigation */
    .navbar a,
    .dropdown {
        float: none;
        display: block;
    }

    .dropdown-btn {
        display: block;
        width: 100%;
    }

    .dropdown-content {
        position: static;
    }

    .dropdown-content>a {
        text-align: center;
    }

    /* General */
    main {
        width: 90%;
    }

    figure {
        margin: 0;
    }

    figure > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    figcaption {
        text-align: center;
    }
}